@charset "utf-8";

html,body{
    position: relative;
    height: 100%;
    overflow: hidden;
    cursor: none;
    user-select: none;
}
body{
    background-color: #000;
    font-family: sans-serif;
    line-height: 1.35;
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: rgba(210,210,210,0.8);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header li{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s;
}
header li:hover{
    transform: scale(1.3);
}
.front{
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.front >a:first-child img{
    width: auto;
    height: 80px;
}
.front >a:last-child img{
    width: 100%;
    height: 50px;
}
.front a{
    color:rgb(245,245,230);
}
.back{
    display: flex;
    align-items: center;
}
.menu, .icon{
    display: flex;
    color: rgb(245,245,230);
}
.icon img{
    width: 30px;
    height: 30px;
}
.wrap{
    --border-radius: 12px;
    --transition-duration: 1000ms;
    position: relative;
    width: 100%;
    height: 100vh;
}
.fullpage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
.fullpage_content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter:drop-shadow(0 5px 5px #0007);
    transition: 
        top var(--transition-duration),
        left var(--transition-duration),
        width var(--transition-duration),
        height var(--transition-duration),
        border-radius var(--transition-duration),
        transform var(--transition-duration),
        opacity var(--transition-duration);
}
.fullpage_content--hidden{
    visibility: hidden;
    transition: none;
    transform: none;
    opacity: 1;
    z-index: 0;
}
.fullpage_content--bottom{
    opacity: 0;
    transform: scale(1.5);
    z-index: 1;
}
.fullpage_content--top{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 2;
}

 /* curtain */
  
 .fullpage_content--text::before {
    transform: translateX(0);
    transition: transform 300ms;
  } */
  
  .fullpage_content--grow::before {
    transform: translateX(-100%);
    transition: none;
  }
  
  /* title */
  .fullpage_content--text .content_title {
    transform: translateY(0);
    transition: transform 300ms;
  }
  
  .fullpage_content--text .content_title .word {
    clip-path: inset(0);
    transition: clip-path 300ms;
  }
  
  .fullpage_content--grow .content_title {
    visibility: hidden;
    transform: translateY(48px);
    transition: none;
  }
  
  .fullpage_content--grow .content_title .word {
    clip-path: inset(0 0 48px);
    transition: none;
  }
  
  /* desc */
  
  .fullpage_content--text .content_desc {
    transform: translateY(0px);
    transition: transform 300ms;
  }
  
  .fullpage_content--text .content_desc .word {
    clip-path: inset(0);
    transition: clip-path 300ms;
  }
  
  .fullpage_content--grow .content_desc {
    visibility: hidden;
    transform: translateY(18px);
    transition: none;
  }
  
  .fullpage_content--grow .content_desc .word {
    clip-path: inset(0 0 18px);
    transition: none;
  }

.fullpage_swiper{
   position: absolute;
   width: 65%;
   min-height: 400px;
   max-height: 450px;
   aspect-ratio: 2.5 / 1;
   right: -18%;
   top: 40%;
   padding: 15px 0;
   z-index: 1;
   user-select: none;
}

.swiper{
    visibility: hidden;
}
.swiper.swiper-initialized {
    visibility: visible;
}
  
.swiper-slide-prev,
.swiper-slide-active {
    opacity: 0;
}
  
.swiper-slide {
    display: flex;
}

.content{
    display: flex;
    position: relative;
    width: 100%;
    filter: drop-shadow(0 5px 5px #0007);
    overflow: hidden;
    z-index: 0;
}
.content_slide{
    position:relative;
    border-radius: var(--border-radius,0);
}
.content_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}
.content_desc{
    margin: 0;
}
.content_slide .content_title{
    font-size: 12px;
    margin: auto 0 0;
    padding: 0.35em 0.75em;
    background-color: #0007;
}

.content_slide .content_desc{
    position: absolute;
    left: 0;
    visibility: hidden;
}
.content_full{
    padding: 100px 50px;
    position: absolute;
    border-radius: 0;
}
.content_full::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, hsl(49deg 70% 5% / 67%),transparent);
    pointer-events: none;
    z-index: -1;
}
.content_full .content_title{
    font-size: 42px;
    margin:0 0 0.2em;
}
.content_full .content_text{
    width: 45%;
}

.content_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
button.content_desc{
    position: relative;
    width: 200px;
    height: 50px;
    margin-top:10vh;
    border: 1px solid #000;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 8px;
}
.btns{
    position: absolute;
    bottom: 5%;
    width: 90%;
    height: auto;
    right:0;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btns span{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(180,230,200);
    transition: all 0.5s;
}
.btns span:hover{
    border: 1px solid rgb(255,255,255);
}
.btns span:first-child{
    left: 0;
}
.btns span:last-child{
    right: 0;
}
#prev,
#next {
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#prev::before,
#next::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(180,230,200);
    border-width: 1px 1px 0 0;
    transition: border 0.1s;
    transition: all 0.5s;
}
#prev:hover::before,
#next:hover::before {
    border-color: rgb(255,255,255);
}

#prev::before {
    transform: rotate(-135deg);
}

#next::before {
    transform: rotate(45deg);
}
#idx{
    width: 40%;
    max-width: 500px;
    height: 5px;
    background-color: #fff;
    border-radius: 4px;
    margin-left:25px;
    overflow: hidden;
}
#idxInner{
    width: 0%;
    height: 100%;
    background-color: #ffee39;
    transition: width 1s ease;
}
#idStr{
    margin-left: 25px;
    margin-right: 10px;
    color: #fff;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
    font-size: 40px;
    font-weight: 900;
    width: 100px;
    height: 50px;
}
#idStrInner{
    position: absolute;
    transition: all 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transform-origin: 50% 50% -40px;
    border: none;
}
#idStrInnerAfter{
    transition: all 0.5s;
    transform-style: preserve-3d;
    border: none;
    transform: rotateY(90deg);
    transform-origin: 50% 50% ;
}

#drawing_line { position: relative; z-index: 1500; height: 0; }
#drawing_line > svg { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; pointer-events: none; }
#drawing_line > svg .drawing_line_polyline { fill: none; stroke: #D2330F; stroke-width: 2; }
#drawing_line > svg .drawing_line_circle { fill: #D2330F; }