@charset "utf-8";

$he : 959px;

html,body{
    width: 100%;
    // overflow-x: hidden;
}
.main{
    height: 5000px;
    .sec1{
        // overflow: auto;
        width: 100%;
        max-width: 1790px;
        height: 30%;
        max-height: 1450px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        &_img{
            position: sticky;
            top: 20vh;
            z-index: 1;
            margin: 0 auto;
            margin-bottom: -10vh;
            width: 60%;
            text-align: center;
            img{
                width:100%;
            }
        }
        &_text{
            position: absolute;
            top:20vh;
            padding-top: 20vh;
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 21vw;
            line-height: 0.9em;
            .t1{
                position: relative;
                z-index: 0;
            }
            .t2{
                position: relative;
                z-index: 2;
            }
        }
    }
    .sec2{
        width: 100%;
        height: $he;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .sec3{
        height: $he;
        width: 100%;
        overflow: hidden;
        background-color: #3a3a3c;
        .slider_container {
            position: relative;
            height: 100%;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            cursor: grab;
            .slider-control {
                z-index: 2;
                position: absolute;
                top: 0;
                width: 12%;
                height: 100%;
                -webkit-transition: opacity 0.3s;
                transition: opacity 0.3s;
                will-change: opacity;
                opacity: 0;
              }
              .slider-control.inactive:hover {
                cursor: auto;
              }
              .slider-control:not(.inactive):hover {
                opacity: 1;
                cursor: pointer;
              }
              .slider-control.left {
                left: 0;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
              }
              .slider-control.right {
                right: 0;
                background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
              }
              
              .slider{
                z-index: 1;
                position: relative;
                height: 100%;
              }
              .slider.animating {
                -webkit-transition: -webkit-transform 0.5s;
                transition: -webkit-transform 0.5s;
                transition: transform 0.5s;
                transition: transform 0.5s, -webkit-transform 0.5s;
                will-change: transform;
              }
              
              .slide {
                position: absolute;
                top: 0;
                width: 100%;
                height: 959px;
                overflow: hidden;
              }
              .slide:nth-child(1) {
                left: 0;
              }
              .slide:nth-child(2) {
                left: 100%;
              }
              .slide:nth-child(3) {
                left: 200%;
              }
              .slide:nth-child(4) {
                left: 300%;
              }
              .slide:nth-child(5) {
                left: 400%;
              }
              .slide:nth-child(6) {
                left: 500%;
              }
          }
        .slide_title{
            position: absolute;
            z-index: 5;
            text-align: right;
            top:10vh;
            left: 10vh;
            color:rgb(18,55,138);
            font-weight: 800;
            span:last-child{
                color:rgb(245,23,44);
            }
        }
        .no_idx{
            position: absolute;
            bottom: 10vh;
            left: 1vh;
            z-index: 3;
            font-size: 40px;
            font-weight: 800;
            transform: rotate(90deg);
            span{
                font-size: 30px;
                font-weight: 100;
            }

        }
        .slide{
            &-1{
                .content{
                    width: 50%;
                    padding: 15px;
                    display: flex;
                    margin-top: 50%;
                    margin-left: 50%;
                    transform: translate(-50%,-50%);
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 6px 10px rgb(0,0,0,10%);
                    video{
                        width:100%;
                    }
                }
                
            }
        }
    }
    .sec4{
        width: 100%;
        background-color: #3a3a3c;
        padding-top: 10vh;
        &_inner{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .content{
                width: 100%;
                text-align: center;
                h2,h3{
                    font-size: 8.5vw;
                    color: #fff;
                    position: relative;
                }
                h2{
                    width: 70%;
                    text-align: right;
                    z-index: 5;
                }
                h3{
                    line-height: 1em;
                    z-index: 1;
                    bottom:10vh;
                    &:last-child{
                        z-index: 5;
                    }
                }
                a{  
                    position: relative;
                    z-index: 2;
                    padding-left: 10vh;
                    display: flex;
                    justify-content: center;
                    display: block;
                    width: 60%;
                    margin: 0 auto;
                    max-width: 900px;
                    transform: rotate(90deg);
                    video{
                        width: 100%;
                    }
                }
            }
        }
    }
}