@charset "utf-8";

@import 'common.css';

html,body{
    width: 100%;
    // overflow-x: hidden;
}
.main{
    height: 5000px;
    .sec1{
        // overflow: auto;
        width: 100%;
        max-width: 1790px;
        height: 30%;
        max-height: 1550px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        &_img{
            position: sticky;
            top: 20vh;
            z-index: 1;
            margin: 0 auto;
            margin-bottom: -10vh;
            width: 60%;
            text-align: center;
            img{
                width:100%;
            }
        }
        &_text{
            position: absolute;
            top:20vh;
            padding-top: 20vh;
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 21vw;
            line-height: 0.9em;
            .t1{
                position: relative;
                z-index: 0;
            }
            .t2{
                position: relative;
                z-index: 2;
            }
        }
    }
    .sec2{
        width: 100%;
        margin: 30vh auto;
        text-align: center;
    }
}